<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhj.examination.mapper.AnswerRecordMapper">

    <insert id="insert">
        INSERT INTO answer_record(user_id,paper_id,total_score,user_score,create_time)
        VALUES(#{userId},#{paperId},#{totalScore},#{userScore},#{createTime})
    </insert>

    <select id="selectByUserId" resultType="com.xhj.examination.entity.AnswerRecord">
        SELECT id,user_id,paper_id,total_score,user_score,create_time
        FROM answer_record WHERE user_id = #{userId}
    </select>

    <select id="selectByPaperId" resultType="com.xhj.examination.entity.AnswerRecord">
        SELECT id,user_id,paper_id,total_score,user_score,create_time
        FROM answer_record WHERE paper_id = #{paperId}
    </select>

    <select id="getCourseScoreList" resultType="com.xhj.examination.entity.ScoreVO">
        SELECT
            u.id AS userId,
            u.name AS userName,
            u.number AS studentNo,
            p.id AS paperId,
            p.paper_name AS paperName,
            c.id AS courseId,
            c.course_name AS courseName,
            ar.user_score AS userScore,
            ar.total_score AS totalScore,
            ar.create_time AS examTime
        FROM answer_record ar
                 LEFT JOIN user u ON ar.user_id = u.id
                 LEFT JOIN paper p ON ar.paper_id = p.id
                 LEFT JOIN courses c ON p.course_id = c.id
        WHERE c.id = #{courseId}
        ORDER BY ar.create_time DESC
    </select>

    <select id="getStudentCourseScore" resultType="com.xhj.examination.entity.ScoreVO">
        SELECT
            u.id AS userId,
            u.name AS userName,
            u.number AS studentNo,
            p.id AS paperId,
            p.paper_name AS paperName,
            c.id AS courseId,
            c.course_name AS courseName,
            ar.user_score AS userScore,
            ar.total_score AS totalScore,
            ar.create_time AS examTime
        FROM answer_record ar
                 LEFT JOIN user u ON ar.user_id = u.id
                 LEFT JOIN paper p ON ar.paper_id = p.id
                 LEFT JOIN courses c ON p.course_id = c.id
        WHERE ar.user_id = #{userId} AND c.id = #{courseId}
        ORDER BY ar.create_time DESC
    </select>
</mapper>