<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhj.examination.mapper.PaperQuestionMapper">

    <insert id="addPaperQuestion">
        INSERT INTO paper_question(paper_id,question_id,score)
        VALUES(#{paperId},#{questionId},#{score})
    </insert>

    <select id="listByPaperId" resultType="com.xhj.examination.entity.PaperQuestion">
        SELECT id,paper_id,question_id,score
        FROM paper_question
        WHERE paper_id = #{paperId}
    </select>
    <select id="selectByPaperId" resultType="com.xhj.examination.entity.PaperQuestionVO">
        SELECT
            pq.id,
            pq.paper_id AS paperId,
            pq.question_id AS questionId,
            pq.score,
            q.title,
            q.A AS optionA,
            q.B AS optionB,
            q.C AS optionC,
            q.D AS optionD,
            q.answer
        FROM paper_question pq
                 LEFT JOIN question q ON pq.question_id = q.id
        WHERE pq.paper_id = #{paperId}
    </select>
    <select id="selectQuestionWithScoreByPaperId" resultType="com.xhj.examination.entity.PaperQuestionVO">
        SELECT
            q.id AS question_id,
            q.answer,
            pq.score
        FROM paper_question pq
                 LEFT JOIN question q ON pq.question_id = q.id
        WHERE pq.paper_id = #{paperId}
    </select>

    <select id="listStudentQuestionsByPaperId" resultType="com.xhj.examination.entity.StudentPaperQuestionVO">
        SELECT
            pq.question_id AS questionId,
            q.title,
            q.a AS optionA,
            q.b AS optionB,
            q.c AS optionC,
            q.d AS optionD,
            pq.score
        FROM paper_question pq
                 LEFT JOIN question q ON pq.question_id = q.id
        WHERE pq.paper_id = #{paperId}
        ORDER BY pq.id ASC
    </select>
</mapper>