<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xhj.examination.mapper.QuestionMapper">
    <select id="getQuestionByCourseId" resultType="com.xhj.examination.entity.Question">
        SELECT id,course_id,title,a,b,c,d,answer
        FROM question
        WHERE course_id = #{courseId}
    </select>
    <select id="selectByIds" resultType="com.xhj.examination.entity.Question">
        SELECT * FROM question
        WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>

    <insert id="addQuestion">
        INSERT INTO question(course_id,title,a,b,c,d,answer)
        VALUES(#{courseId},#{title},#{a},#{b},#{c},#{d},#{answer})
    </insert>

    <update id="updateQuestion" parameterType="com.xhj.examination.entity.Question">
        UPDATE question
        SET
            content = #{content},
            option_a = #{optionA},
            option_b = #{optionB},
            option_c = #{optionC},
            option_d = #{optionD},
            answer = #{answer},
            score = #{score},
            course_id = #{courseId}
        WHERE id = #{id}
    </update>

    <delete id="deleteQuestion" parameterType="int">
        DELETE FROM question WHERE id = #{id}
    </delete>
</mapper>